*{
    margin-left: 30px;
    margin-right: 30px;
    /* font-size: 15px; */
}

button{
    background-color: #33A532;
    color: white;
    /* margin-left: 90px; */
    width: 200px;
    height: 40px;
}

button:hover{
    background-color: teal;
}

h6{
    margin-top: 50px;
    font-size: 17px;
    margin-bottom: 30px;
}
body{
    height: 1000px;
}
#txtIntegerError, .error{
    color: red;
}